@font-face {
    font-family: "Fahkwang";
    src: url(fonts/Fahkwang/Fahkwang-Regular.ttf) format('truetype');
}

:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --third-bg-color: #48505e;
    --bg-comment-color: #747c8b;
    --bg-hover-color: #939baa;
    --line-color: #C1B086;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

::-webkit-scrollbar{
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fahkwang', sans-serif;
}

body{
    background: var(--body-bg-color);
}

section{
    overflow: hidden;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn{
    display: none;
}

.nav-bar .logo{
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
    display: none;
}

.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}

.login-btn{
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 2px 20px;
    border-radius: 5px;
    transform: translateX(50px);
    opacity: 0;
}

.login-btn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.login-btn i{
    font-size: 1em;
    padding: 10px;
    transition: 0.3s ease;
}

.login-btn:hover i{
    transform: translateX(5px);
}

.home{
    min-height: 100vh;
}

.home:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 888;
    background: linear-gradient(transparent, var(--section-bg-color));
}

.bg-slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 777;
}

.bg-slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content{
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .title span{
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content p{
    max-width: 700px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    margin-top: 40px;
    border-radius: 10px;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i{
    font-size: 1.6em;
    padding: 10px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i{
    transform: translateX(5px);
}

.dark-layer:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.bg-slider-thumbs{
    position: absolute;
    left: 50%;
    bottom: 7em;
    z-index: 777;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img{
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active{
    border: 1px solid var(--white-color);
}

.media-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    right: 14%;
    transform: translateY(-50%);
    z-index: 888;
    margin-left: 90px;
}

.media-icons a{
    color: var(--white-color);
    font-size: 1.7em;
    margin: 10px 0;
}

.top{
    color: var(--white-color);
    background: var(--section-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

.last{
    color: var(--white-color);
    background: var(--body-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

.flex{
    display: flex;
}

.left,
.right{
    width: 50%;
}

.overlay{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.overlay.open{
    display: flex;
    animation: show-overlay 0.5s;
}

.overlay .form{
    width: 400px;
    padding: 3rem 2rem;
    border-radius: 0.7rem;
    background: var(--dark-color);
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.overlay .login-icon{
    position: absolute;
    top: 10%;
    left: 60%;
}

.overlay .login-icon i{
    font-size: 20px;
    color: var(--white-color);
    cursor: pointer;
}

.overlay .login-icon i:hover{
    color: var(--bg-hover-color);
}

.form .form-title{
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 2rem;
    text-align: center;
}

.form .img-login{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    margin-bottom: 2rem;
}

.form .form-div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form .form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: var(--white-color);
    border: 1px solid var(--body-bg-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form .form-label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: var(--dark-color);
    color: var(--white-color);
    font-size: 1rem;
    transition: .3s;
}

.form .check-box{
    margin-bottom: 1.5rem;
}

.form .forgot-password{
    text-decoration: none;
    color: #fd4;
    padding-left: 6rem;
}

.form .form-button{
    width: 330px;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form .register{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    padding-top: 1rem;
    text-decoration: none;
}

.form .register span{
    padding-left: 5px;
    color: #fd4;
}

.form-button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.form-input:focus + .form-label{
    top: -.5rem;
    left: .8rem;
    color: var(--white-color);
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+ .form-label{
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

.form-input:focus{
    border: 1.5px solid var(--white-color);
}

@keyframes show-overlay{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.about .img{
    position: relative;
}

.about .image1{
    width: 360px;
    height: 475px;
}

.about .image2{
    position: absolute;
    width: 320px;
    height: 220px;
    bottom: 5px;
    right: 30%;
    z-index: 2;
}

.heading{
    position: relative;
}

.heading::after{
    position: absolute;
    width: 100px;
    height: 4px;
    background: var(--line-color);
    top: 0;
    left: 0;
    content: '';
}

.heading h5{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    padding-top: 20px;
    color: var(--white-color);
}

.heading h2{
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--white-color);
}

.heading p{
    margin-bottom: 20px;
    line-height: 25px;
    color: var(--white-color);
    margin: 0 0 20px 50px;
}

.heading .icon-item{
    margin-top: 10px;
    padding-right: 10px;
    margin-left: 40px;
}

.heading .read-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    margin-top: 40px;
    border-radius: 10px;
    transform: translateX(50px);
    opacity: 0;
}

.heading .read-btn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.heading .read-btn i{
    font-size: 1.6em;
    padding: 10px;
    transition: 0.3s ease;
}

.heading .read-btn:hover i{
    transform: translateX(5px);
}

.section{
    background: var(--third-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

.homestay img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.homestay .right{
    padding: 50px 50px 50px 100px;
}

.homestay h2{
    color: var(--white-color);
    margin-bottom: 20px;
    font-weight: 400;
}

.homestay .text p{
    color: var(--white-color);
    margin-bottom: 50px;
    line-height: 25px;
}

.accordionItem{
    margin-top: 30px;
}

.accordionItem p{
    font-size: 15px;
    opacity: 0.8;
    font-family: 'Fahkwang', sans-serif;
    line-height: 20px;
}

.accordionIHeading{
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    color: var(--line-color);
    margin-bottom: 20px;
}

.close .accordionItemContent{
    display: block;
    height: 0px;
    float: left;
    transition: height 1s ease-out;
    transform: scaleY(0);
    background-color: var(--white-color);
}

.open .accordionItemContent{
    display: block;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 10px 0;
    transform: scaleY(1);
    background-color: var(--white-color);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgba(37 46 89 / 10%) ;
}

.galary img{
    width: 270px;
    height: 350px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    border-radius: 10px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 35%;
    cursor: pointer;
    background: var(--white-color) !important;
    transition: 0.5s;
}

.owl-carousel i{
    color: var(--dark-color);
}

.owl-carousel .owl-prev{
    left: -33px;
}

.owl-carousel .owl-next{
    right: -33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover{
    background: var(--line-color) !important;
}

.rooms .swiper{
    background: transparent;
    border-radius: 10px;
}

.rooms .swiper-slide img {
    display: block;
    width: 100%;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
}

.rooms .swiper-slide .text-content-room{
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 100px;
    transition: 0.3s ease;
}

.swiper-slide .text-content-room .title-room{
    font-size: 3em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content-room .title-room{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content-room .title-room span{
    font-size: 0.5em;
    font-weight: 300;
}

.swiper-slide .text-content-room p{
    max-width: 700px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content-room p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content-room .read-room-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 3px 25px;
    margin-top: 40px;
    border-radius: 10px;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content-room .read-room-btn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content-room .read-room-btn i{
    font-size: 1.6em;
    padding: 10px;
    transition: 0.3s ease;
}

.swiper-slide .text-content-room .read-room-btn:hover i{
    transform: translateX(5px);
}

.swiper-button-next,
.swiper-button-prev{
    color: var(--white-color);
}

.contact-form{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/assets/images/bg-contact.jpg") center/cover no-repeat fixed;
}

.contact-in{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-wrapper{
    background: var(--third-bg-color);
    border-radius: 15px;
    max-width: 700px;
    max-height: 200px;
    width: 100%;
    padding: 25px 25px 15px 25px;
}

.comment-container{
    position: relative;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 10px;
}

.comment-container::-webkit-scrollbar{
    width: 5px;
}

.comment-text{
    color: var(--white-color);
    font-weight: 200;
    margin-bottom: 15px;
}

.comment-review{
    padding-top: 20px;
}

.comment-card{
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: var(--bg-comment-color);
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment-card h3,
.comment-card p{
    color: var(--white-color);
    margin-bottom: 1em;
}

.conment-card-footer{
    display: flex;
    font-size: 0.85em;
    opacity: 0.6;
    gap: 30px;
    color: #fe7;
    justify-content: flex-end;
    align-items: center;
}

.input-box{
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.input-box .comment-area{
    position: relative;
    min-height: 30px;
    max-height: 30px;
    overflow-y: auto;
}

.comment-area::-webkit-scrollbar {
    width: 5px;
}

.comment-area .placeholder{
    position: absolute;
    margin-top: -1px;
    font-size: 22px;
    color: #98a5b1;
    pointer-events: none;
}

.comment-area .input{
    outline: none;
    font-size: 17px;
    word-wrap: break-word;
    word-break: break-all;
}

.comment-area .editable{
    position: relative;
    z-index: 5;
}

.comment-area .readonly{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    background: transparent;
}

.readonly .highlight{
    background: #fd9bb0;
}

.input-box .privacy{
    color: #98a5b1;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-box .star-widget input{
    display: none;
}

.input-box .star-widget label{
    font-size: 25px;
    padding: 6px;
    transition: all 0.2 ease;
    float: right;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.contact-map iframe{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.bottom{
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: flex-end;
}

.bottom .content{
    display: flex;
    align-items: center;
}

.content .up-btn{
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    background: #98a5b1;
    color: var(--white-color);
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
}

.content .counter{
    display: none;
    margin-right: 15px;
    padding-right: 15px;
    color: var(--white-color);
    border-right: 1px solid #aab8c2;
}

.content .up-btn.active{
    opacity: 1;
    pointer-events: auto;
}

.service-in{
    width: 100%;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-service img{
    height: 100px;
}

.box-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    background: var(--white-color);
    position: relative;
}

.box-service h1{
    color: var(--dark-color);
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
}

.box-service p{
    color: rgba(87, 105, 117, 0.9);
    text-align: center;
}

.service-btn{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--scroll-thumb-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--line-color);
    margin-top: 10px;
    text-decoration: none;
}

.box-service:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}

.service-btn:hover{
    background-color: var(--line-color);
    border: 1px solid var(--line-color);
    color: var(--white-color);
    transition: all ease 0.3s;
}

.bar{
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: var(--line-color);
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.box-service:hover .bar{
    display: block;
}

@keyframes bar{
    0%{
        width: 0px;
    }

    100%{
        width: 100px;
    }
}

footer{
    line-height: 1.5;
    font-family: 'Fahkwang', sans-serif;
}

.footer .container{
    max-width: 1470px;
    margin: auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    position: relative;
    font-size: 18px;
    color: var(--body-bg-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--line-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--body-bg-color);
    text-decoration: none;
    font-weight: 300;
    color: var(--bg-comment-color);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: var(--body-bg-color);
    padding-left: 8px;
}

.footer-col .social-links{
    display: flex;
    align-items: center;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--body-bg-color);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: var(--dark-color);
    background-color: var(--body-bg-color);
}

@media screen and (max-width: 1440px){
    header .nav-bar{
        padding: 0 200px;
    }

    .section{
        padding: 35px 200px;
    }

    .overlay .login-icon{
        top: 15%;
        left: 61%;
    }

    .media-icons{
        right: 8%;
        margin-right: 90px;
    }

    .swiper-slide .text-content{
        margin: 0 200px;
    }

    .bg-slider-thumbs{
        bottom: 3em;
    }

    .about .image2{
        right: 10%;
    }

    .homestay img{
        width: 100%;
        height: 100%;
    }

    .contact-in{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .comment-wrapper{
        max-width: 700px;
    }

    .comment-review{
        padding-top: 20px;
    }
    
    .comment-card{
        margin-left: 12px;
    }
}

@media screen and (max-width: 1280px){
    header .nav-bar{
        padding: 0 50px;
    }

    .section{
        padding: 25px 50px;
    }

    .overlay .login-icon{
        top: 17%;
        left: 62%;
    }

    .top{
        padding: 25px 50px;
    }

    .media-icons{
        right: 0;
        margin-right: 50px;
    }

    .swiper-slide .text-content{
        margin: 0 120px 0 50px;
    }

    .bg-slider-thumbs{
        bottom: 3em;
    }
}

@media screen and (max-width: 1050px) {
    .box-container{
        flex-wrap: wrap;
    }

    /*SERVICE*/

    .services{
        height: 215vh;
    }

    .services .heading-top{
        margin-top: 20px;
    }

    .services .service-in{
        margin-top: 450px;
    }

    .box-service{
        flex-grow: 1;
    }
}


@media screen and (max-width: 785px){
    header .nav-bar{
        padding: 25px 20px;
    }

    .section{
        padding: 25px 20px;
    }

    .overlay .login-icon{
        top: 19%;
        left: 70%;
    }

    .contact{
        padding: 25px 20px;
    }

    .media-icons{
        margin-right: 40px;
    }

    .media-icons a{
        font-size: 1.5em;
    }

    .swiper-slide .text-content{
        margin: 0 95px 0 20px;
    }

    .swiper-slide .text-content .title{
        font-size: 3em;
    }

    .swiper-slide .text-content .title span{
        font-size: 0.35em;
    }

    .swiper-slide .text-content p{
        font-size: 0.9em;
    }

    .nav-menu-btn{
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
        cursor: pointer;
    }

    .nav-close-btn{
        display: block;
        color: var(--dark-color);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .navigation{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
        
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        display: grid;
        width: 400px;
        max-width: 400px;
        background: var(--white-color);
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

    .navigation .nav-items a:hover{
        color: var(--navigation-item-hover-color);
    }

    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
    }

    .swiper-slide .text-content .read-btn{
        font-size: 0.9em;
        padding: 5px 15px;
    }

    .about .container,
    .homestay .container{
        flex-direction: column;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .left, .right{
        width: 100%;
    }

    .homestay .right{
        padding: 0;
        margin-top: 50px;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 414px){
    .section{
        padding: 25px 20px;
    }

    .overlay .login-icon{
        top: 8%;
        left: 85%;
    }

    .rooms .swiper{
        background: transparent;
        border-radius: 10px;
    }
    
    .rooms .swiper-slide .text-content-room{
        top: 25%;
        margin: 0 100px;
    }

    .swiper-slide .text-content-room{
        margin: 0 10px 0 20px;
    }

    .swiper-slide .text-content-room .title-room{
        font-size: 2.5em;
    }

    .swiper-slide .text-content-room .title-room span{
        font-size: 0.6em;
    }

    .swiper-slide .text-content-room p{
        font-size: 1em;
    }

    .footer-col{
        width: 100%;
    }
}